<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Статус ответа сайта <%= @site.url %> изменился на <%= @site.status %></h1>
  </body>
</html>
