<% unless @sites.empty? %>
  <h3>Сайты и их статусы</h3>
  <table class="table table-striped">
    <thead>
      <th width="30%">URL</th>
      <th width="60%">Статус</th>
      <th width="10%">Удалить</th>
    </thead>
    <tbody id="sites">
    </tbody>
  </table>
<% end %>

<h3>Добавить URL</h3>
<%= form_for :site, url: new_site_path do |f| %>
    <%= f.text_field :url %>
    <%= f.submit 'Добавить', class: "btn btn-primary" %>
<% end %>

<h3>Загрузить URL из файла</h3>
<i>файл должен быть с расширением .txt </i><br>
<%= form_tag({action: :import_sites}, multipart: true) do %>
  <%= file_field_tag 'file' %><br>
  <%= submit_tag("Загрузить", class: "btn btn-primary" ) %>
<% end %>

<script>
  var getSites = function() {
    $.ajax({
      url: "/get_sites",
      success: function(resp) {
        $("#sites").empty();
        var siteNodes = resp.sites.map(function(site) {
          if (site.status == 'ok') {
            td_class = 'alert alert-success';
          }
          else if (site.status == '302') {
            td_class = 'alert alert-info';
          }
          else {
            td_class = 'alert alert-danger';
          }
          return $("<tr><td>" + site.url + "</td><td class='" + td_class + "'>" + site.status + "</td><td><a class='btn btn-danger' data-method='delete' href='/destroy_site?id=" + site.id + "'>Удалить</a></td></tr>");
        })
        $("#sites").append(siteNodes);
        if (resp.status=="1") {
          status = "работает"
        }
        else {
          status = "остановлен"
        };
        $("#status").empty();
        $("#status").append(status);
      },
      error: function() {
      }
    })
  }

  $(document).on('ready page:load', function(event) {
    getSites();
  });

  setInterval(getSites,5000);
</script>
