<h3>Управление мониторингом</h3>
<% if @working == '1'%>
  <%= link_to "Запустить сервис", start_monitoring_path, class: "btn btn-primary", :disabled => true %> &nbsp
  <%= link_to "Остановить сервис", stop_monitoring_path, class: "btn btn-danger" %>
<% else %>
  <%= link_to "Запустить сервис", start_monitoring_path, class: "btn btn-primary" %> &nbsp
  <%= link_to "Остановить сервис", stop_monitoring_path, class: "btn btn-danger", :disabled => true %>
<% end %>

<h3>Задержки</h3>
<%= form_for :settings, url: update_settings_path do |f| %>
  <p>
    <%= f.label "Нормальная" %><br>
    <%= f.number_field(:time_normal, in: 10..600, step: 10, value: @time_normal) %>
  </p>
  <p>
    <%= f.label "Аварийная" %><br>
    <%= f.number_field(:time_warning, in: 10..600, step: 10, value: @time_warning) %>
  </p>

  <p>
    <%= f.submit 'Изменить', class: "btn btn-primary" %>
  </p>
<% end %>

<h3>E-mail для уведомлений</h3>
<%= form_for :update_email, url: update_email_path do |f| %>
  <p>
    <%= f.email_field(:email, value: @email) %>
  </p>
  <p>
    <%= f.submit 'Применить', class: "btn btn-primary" %>
  </p>
<% end %>
