<!DOCTYPE html>
<html>
  <head>
    <title>StatusTester</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="padding-top: 70px;">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">StatusTester</a>
          <ul class="nav navbar-nav">
            <li><%= link_to_unless_current "Сайты", root_path do%></li>
              <li class="active"><a href="#" class="active">Сайты</a></li>
            <% end %>
            <li><%= link_to_unless_current "Настройки", settings_path do%></li>
              <li class="active"><a href="#" class="active">Настройки</a></li>
            <% end %>
          </ul>
          <p class="navbar-text navbar-right">
            Статус сервиса:
            <% if @working == '1'%>
              <b id="status">работает</b>
            <% else %>
              <b id="status">остановлен</b>
            <% end %>
          </p>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
